body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.spinner {
    width: 25px;
    height: 25px;
    position: relative;
    top: 75px;
    left: 125px;
}

.list-group-item {
    height: 60px
}

.table {
    margin-bottom: 10px;
}

.panel-body {
    padding-bottom: 0px;
}